#moving1
{
  position:absolute;
  top:0px;
  left:-100px;
  font-size:25px
}
#moving2
{
  position:absolute;
  top:40px;
  left:-100px;
  font-size:25px
}
#moving3
{
  position:absolute;
  top:80px;
  left:-100px;
  font-size:25px
}
#moving4
{
  position:absolute;
  top:120px;
  left:-100px;
  font-size:25px
}
#moving5
{
  position:absolute;
  top:160px;
  left:-100px;
  font-size:25px
}
#moving6
{
  position:absolute;
  top:200px;
  left:-100px;
  font-size:25px
}
#moving7
{
  position:absolute;
  top:240px;
  left:-100px;
  font-size:25px
}
